<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto">
            <% if (!auth.isLogin) { %>
            <!-- Todo: sign up -->
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#signUpModal">Sign Up</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#loginModal">Login</a>
            </li>
            <% } %>
            <% if (auth.isAdmin) { %>
            <li class="nav-item">
                <a class="nav-link" href="/product/create">Create product</a>
            </li>
            <% } %>
            <% if (auth.isLogin) { %>
            <li class="nav-item">
                <a id="logoutBtn" class="nav-link">Log out</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
<!-- navbar end -->

<!-- signUpModal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="signUpForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="signUpEmail">Email</label>
                    <input type="email" id="signUpEmail" class="form-control" placeholder="Enter your email here..."
                        required>
                </div>
                <div class="form-group">
                    <label for="signUpPassword">Password</label>
                    <input type="password" id="signUpPassword" class="form-control"
                        placeholder="Enter your password here..." minlength="6" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>
<!-- signUpModal -->

<!-- loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="loginForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="loginEmail">Email</label>
                    <input type="email" id="loginEmail" class="form-control" placeholder="Enter your email here..."
                        required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" class="form-control"
                        placeholder="Enter your password here..." minlength="6" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<!-- loginModal -->