body {
    margin: 0px;
}

.header {
    padding: 150px 0px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    border-radius: 0px;
    position: relative;
}

.header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .6;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all .5s ease;
}

.header .container {
    position: relative;
    z-index: 3;
}

.header:hover:after {
    opacity: .3;
}

#indexHeader {
    background-image: url('https://picsum.photos/id/1000/1600/800');
}

#createHeader {
    background-image: url('https://picsum.photos/id/1041/1600/800');
}

#editHeader {
    background-image: url('https://picsum.photos/id/1042/1600/800');
}

.darkMode {
    background-color: #222222 !important;
    color: #ffffff !important;
}

.jumbotron {
    margin: 0;
}

.card {
    color: black;
}

.modal-dialog {
    color: black;
}
